<div class="product">
  <img
    class=""
    [src]="getImagePath(product())"
    [alt]="product().imageName"
    srcset=""
  />
  <div class="details">
    <div>
      <h2>{{ product().name }}</h2>
      <p>{{ product().description }}</p>
      <p>Part Type: {{ product().category }}</p>
      <p>Available Inventory: {{ availableInventory() }}</p>
    </div>
  </div>
  <div class="price">
    @if (product().discount > 0) {
      <p class="strikethrough">
        {{ product().price | currency }}
      </p>
      <p>
        {{ product().price * (1 - product().discount) | currency }}
      </p>
    } @else {
      <p>{{ product().price | currency }}</p>
    }
    <button class="cta" (click)="addToCart(product(), $event)">Buy</button>
  </div>
</div>
