@let hasCartItems = cartItems().length > 0;

<h1 class="header">Your Cart</h1>

@if (hasCartItems) {
  <button (click)="checkout.scrollIntoView({ behavior: 'smooth' })">
    Prceed to Checkout
  </button>
}

<ul class="cart">
  @for (product of cartItems() | groupById; track product.id) {
    <li>
      g
      <!-- <bot-cart-item [product]="product" /> -->
      <bot-product-details
        [product]="product"
        mode="cart"
        (removeFromCart)="removeFromCart($event)"
      >
        <!-- <button class="remove" (click)="removeFromCart(product)">Remove</button> -->
      </bot-product-details>
    </li>
  } @empty {
    <h2>You have no items in your cart</h2>
  }
</ul>

<div #checkout>
  @if (hasCartItems) {
    <button class="cta">Checkout</button>
  }
</div>
